.home {
    padding: var(--size-4);
    margin: auto;
}

.current {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .home {
        max-width: 768px;
    }
}
